In [1]:
# IMPORT MODULES
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [9]:
# MENYIAPKAN SEGALA SESUATU YANG DIPERLUKAN : KATA KUNCI, BAHASA, JUMLAH TWEET, DLL.
query = "(g20indonesia) lang:en until:2022-11-01 since:2021-11-01"
tweets = []
limit = 5000

In [10]:
# PROSES CRAWLING/NARIK DATA DARI TWITTER
try:
    print("Starting to scrape tweets")
    for tweet in sntwitter.TwitterSearchScraper(query=query).get_items():
        if len(tweets) == limit:
            break
        else:
            tweets.append([tweet.date, tweet.user.username, tweet.content])
    df = pd.DataFrame(tweets, columns=['Datetime', 'Username', 'Tweet'])
except Exception as e:
    print(e)

print("finished scraping tweets")

Starting to scrape tweets
finished scraping tweets

In [12]:
# SIMPAN KE CSV FILE
df = df.to_csv('g20indonesia_tweets.csv', index=False)

In [6]:
# MENAMPILKAN DATASET
read_df = pd.read_csv('g20indonesia_tweets.csv')
read_df

,Datetime,Username,Tweet
0,2022-10-31 22:44:10+00:00,m3trainer,ðŸ‘‹ @g20org @Cop27P We have had enough of witnes...
1,2022-10-31 22:31:41+00:00,anthony82149035,@tni blood thirty savages in uniform racist an...
2,2022-10-31 22:16:51+00:00,corsicanmafioso,ðŸ”Š @G7 @EUCouncil @g20org: The devastating floo...
3,2022-10-31 22:06:55+00:00,Ekklesia_co_uk,G20 Summit looks to world religions for soluti...
4,2022-10-31 21:48:37+00:00,prof_ahmetkuru,Indonesia is hosting G20 &amp; its religious f...
...,...,...,...
4995,2022-09-29 14:48:59+00:00,herlan_sydney,.@Menlu_RI Civic space is crucial for sustaina...
4996,2022-09-29 14:40:28+00:00,herlan_sydney,ðŸ”Š @G7 @EUCouncil @g20org: The devastating floo...
4997,2022-09-29 14:38:29+00:00,TheVineetMittal,I congratulate Shri @amitabhk87 and @NITIAayog...
4998,2022-09-29 14:36:03+00:00,Kim83897697,ðŸ‘‹ @g20org @EUCouncil @Cop27P @vonderleyen @tru...
4999,2022-09-29 14:29:13+00:00,Kumar27147450,@IndianEmbJkt @g20org @MEAIndia @cgibali @Agri...